CONFIG_NAME: seasofglory
PRESET_BASE: mainnet
TERMINAL_TOTAL_DIFFICULTY: 250
TERMINAL_BLOCK_HASH: 0x0000000000000000000000000000000000000000000000000000000000000000
TERMINAL_BLOCK_HASH_ACTIVATION_EPOCH: 1
SAFE_SLOTS_TO_IMPORT_OPTIMISTICALLY: 128
MIN_GENESIS_ACTIVE_VALIDATOR_COUNT: 64
MIN_GENESIS_TIME: 1666361281
GENESIS_FORK_VERSION: 0x20000089
GENESIS_DELAY: 20000
ALTAIR_FORK_VERSION: 0x20000090
ALTAIR_FORK_EPOCH: 1
BELLATRIX_FORK_VERSION: 0x20000091
BELLATRIX_FORK_EPOCH: 2
CAPELLA_FORK_VERSION: 0x20000092
CAPELLA_FORK_EPOCH: 4
SECONDS_PER_SLOT: 12
SECONDS_PER_ETH1_BLOCK: 5
MIN_VALIDATOR_WITHDRAWABILITY_DELAY: 256
SHARD_COMMITTEE_PERIOD: 256
ETH1_FOLLOW_DISTANCE: 1
INACTIVITY_SCORE_BIAS: 4
INACTIVITY_SCORE_RECOVERY_RATE: 16
EJECTION_BALANCE: 16000000000
MIN_PER_EPOCH_CHURN_LIMIT: 4
CHURN_LIMIT_QUOTIENT: 65536
PROPOSER_SCORE_BOOST: 40
DEPOSIT_CHAIN_ID: {{ chain_network_id }}
DEPOSIT_NETWORK_ID: {{ chain_network_id }}
DEPOSIT_CONTRACT_ADDRESS: 0x4242424242424242424242424242424242424242
