{
  "address": "48bdc4ed4b6c6a0e32bd2d7075c99ed5f917dda0",
  "crypto": {
    "cipher": "aes-128-ctr",
    "ciphertext": "85cace8ff81b9f669f3c428840e07a1fbd82e88d8dc4bcaec1312bf8d5a9644a",
    "cipherparams": { "iv": "{{ devnet_validator_iv }}" },
    "kdf": "scrypt",
    "kdfparams": {
      "dklen": 32,
      "n": 262144,
      "p": 1,
      "r": 8,
      "salt": "{{ devnet_validator_salt }}"
    },
    "mac": "c012bbea64c56ff68569c9242677ffdc4428fba4539c9b4e23cd9d3e94842005"
  },
  "id": "c3844631-d7f9-46e7-8033-7e4b1215d91c",
  "version": 3
}
